@use './colors' as col;
@use './animations' as *;
@use './small' as *;
@use './medium' as *;
@use './large' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	color: col.$white;
	background-color: col.$dark;
}

h1.company-name {
	margin-bottom: 0.5em;
	font-size: 3rem;
	font-family: 'Cinzel', serif;
	color: col.$gold;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-title {
	position: relative;
	margin: 0 auto 2em;
	font-size: 3.2rem;
	color: col.$gold;
	font-weight: 200;
	width: fit-content;

	&::before {
		content: '';
		position: absolute;
		bottom: -0.1em;
		left: 0;
		width: 40px;
		height: 2px;
		background-color: col.$gold;
	}
	span {
		font-weight: 900;
	}
}

//header
.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 100vh;
	position: relative; //as we will need to position square icons
	overflow: hidden; //as nav will be sliding from the left side
	&__text {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-column: 1/3;
		grid-row: 2/3;
		padding: 2em;

		p {
			font-weight: 200;
		}
	}

	&__img {
		grid-row: 1/2;
		grid-column: 1/3;
		position: relative;
		width: 100%;
		height: 100%;
		background-image: url('../img/bitcoin_small.jpg');
		background-size: cover;
		background-position: center;
		filter: sepia();
	}
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	&__arrow {
		display: none; //as we don't want to see the arrow on mobile
	}

	&__bg-icon-one,
	&__bg-icon-two {
		position: absolute;
		opacity: 0.05;
		z-index: -5;
	}

	&__bg-icon-one {
		width: 50%;
		bottom: 2em;
		right: -3em;
		animation: rotate-right 55s infinite linear;
	}

	&__bg-icon-two {
		display: none; //as on mobile only icon one should be visible
	}
}

.hamburger {
	position: absolute;
	top: 3em;
	left: 1em;
	transform: translateY(-50%);
	z-index: 500;
	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: col.$white;
		z-index: 500;
	}
}

.nav {
	&-mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: col.$white;
		transform: translateX(-102%);
		transition: transform 0.3s;
		z-index: 10;

		&--active {
			transform: translateX(0);
		}
	}

	&-desktop {
		display: none;
	}

	&__link {
		position: relative;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.3rem;
		color: col.$darker;
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: col.$gold;
		}
	}
}

// main
//cards

.cards {
	background-color: col.$darker;
	overflow: hidden;

	&__box {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		gap: 2em;
		padding: 6em 2em;
	}

	&__card {
		position: relative;
		display: grid;
		justify-items: center;
		padding: 3em;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 8px;
		background-color: col.$dark;
		transition: background-color 0.3s, border 0.3s;

		&:hover {
			background-color: col.$darker;
			border: 1px solid col.$gold;
			z-index: 1;
		}

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			border: 1px solid col.$gold;
			border-radius: 8px;
			opacity: 0;
		}

		&:hover::before {
			animation: pulse 1s;
		}

		img {
			margin-bottom: 1em;
			width: 60px;
		}

		h3 {
			margin-bottom: 0.6em;
			text-transform: uppercase;
		}

		&--one {
			grid-row: 1/2;
			grid-column: 1/-1;
		}
		&--two {
			grid-row: 2/3;
			grid-column: 1/-1;
		}
		&--three {
			grid-row: 3/4;
			grid-column: 1/-1;
		}
	}
}

//info

.info {
	position: relative; //as we need to position all the icons
	display: grid;
	grid-template-areas:
		'title title title'
		'box box box'
		'box box box';
	padding: 6em 2em;

	&__title {
		grid-area: title;
	}
	&__boxes {
		grid-area: box;
	}
	&__box-img {
		width: 100%;
		object-fit: cover;
		filter: sepia();
	}
	&__box-title {
		margin: 0.3em 0;
		font-size: 2.6rem;
		color: col.$gold;
		font-weight: 200;
	}
	&__box-text {
		margin-bottom: 0.5em;
	}
	&__box-link {
		display: block;
		margin-bottom: 2em;
		font-weight: bold;
		color: col.$gold;
		text-decoration: none;
		text-align: right;
		transition: color 0.3s;
		&:hover {
			color: col.$darkgold;
		}
	}
	&__bg-icon {
		//shouldn't be visible on mobile
		display: none;
	}
}

//plans
.plans {
	padding: 6em 2em;
	background-color: col.$darker;
	&__box {
		margin: 1em 0;
		padding: 2em 1em;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 8px;
		background-color: col.$dark;
		cursor: pointer;
		transition: border 0.5s, background-color 0.5s;

		&:hover {
			background-color: col.$darker;
			border: 1px solid col.$gold;
		}
	}

	&__item {
		margin: 1em 0;
	}
	&__item-icon {
		width: 50px;
	}
	&__item-name {
		margin-top: 0;
		margin-bottom: 1.5em;
		font-size: 1.8rem;
		color: col.$gold;
	}
}

//media queries

@include sm;
@include md;
@include lg;
